<!doctype html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://raw.githubusercontent.com/mylittlecanasson/mylittlecanasson.github.io/main/logo_small_trans.png" type="image/icon type">
    <!--link rel="icon" href="/assets/images/favicon.png" /-->
    <title>My Little Canasson</title>
    <meta name="description" content="Horse Racing Prediction: A Machine Learning Approach" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4251371835440297"
     crossorigin="anonymous"></script>
    <!--link rel="stylesheet" href="/assets/css/custom.css"-->
    <!--script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
function drawBarChart(target_id, target_title, xValues, yValues, barColors) {
    new Chart(target_id, {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {display: false},
            title: {
                display: true,
                text: target_title
            },
        scales: {
            yAxes: [{
                ticks: {
                    max: 50,
                    min: 0
                }
            }]
            }
        }
        }
    );
} 
</script>
  </head>
  <body>
    <header>
      <img src="https://raw.githubusercontent.com/mylittlecanasson/mylittlecanasson.github.io/main/logo_large_trans.png" style="width:100%;max-width:600px;" alt="Horse Racing Prediction: A Machine Learning Approach">
      <!--h1>My Little Canasson</h1-->
      <!--p><div class="wrapper"><div class="typing-text">Horse Racing Prediction: A Machine Learning Approach</div></div></p-->

      <div id="donate-button-container">
        <div id="donate-button"></div>
        <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
        <script>
          PayPal.Donation.Button({
          env:'production',
          hosted_button_id:'A7VXNLCXZHPJ8',
          image: {
            src:'https://www.paypalobjects.com/en_US/FR/i/btn/btn_donateCC_LG.gif',
            alt:'Donate with PayPal button',
            title:'PayPal - The safer, easier way to pay online!',
          }
          }).render('#donate-button');
        </script>
      </div>
      
      <nav>
  
        <a href="/" class="nav-current">🏡Home</a>
  
        <a href="/bethistory.html">📈Historic</a>
          
        <a href="/race.html">🏇About race</a>
          
        <a href="/about.html">💁About me</a>
          
        <a href="/contact.html">📧Contact</a>
            
      </nav>
        <div class="wrapper">
            <a class="jre" target="_blank" href="https://entreprise.pmu.fr/jeu-responsable/">
                <p class="jre-tooltip" style="display: none;">Le jeu d’argent est interdit aux mineurs</p>
                <img class="jre-picto" src="https://www.pmu.fr/turf/images/moins18ans.178fdf5d89a54929.svg" alt="Le jeu d’argent est interdit aux mineurs" width="40" height="40">
            </a>
            <a class="arjel-link" target="_blank" href="http://www.joueurs-info-service.fr/">
                <p><small>JOUER COMPORTE DES RISQUES : ENDETTEMENT, ISOLEMENT, DÉPENDANCE. 
                <br>
                POUR ÊTRE AIDÉ, APPELEZ LE 09 74 75 13 13. (APPEL NON SURTAXÉ)</small></p>
            </a>
        </div>
    </header>

    <main>
        <h2 class="post-link"><u>Welcome,</u></h2>
        <p class="excerpt">
            Chaque jour, l'algorithme d'intelligence artificielle sélectionne pour vous LE cheval de course à jouer en simple placé 🏇.<br>
            Le pronostic vous est présenté dans la section encadré tous les jours 📅.<br>
            Préparez-vous, le secret des paris hippiques est à portée de clic 🤫.
        </p>
        
        {%MAINCASE%}
        
    </main>

    <footer>
      <p><small>This site was created by <a rel="me" target="_blank" href="https://www.linkedin.com/in/cyril-guiet">Cyril Guiet</a> using <a href="https://simplecss.org" target="_blank">Simple.css</a>.<br>
      </p>
    </footer>
  </body>
 </html>
